<h3>Apartado de Versiones</h3>


<div class="grid grid-3">
    <input type="text" [(ngModel)]="art.version" name="version" placeholder="Escriba el nombre la ña versiones que desea buscar"/>
    <br>
    <br>
    <br>
    <button (click)="recuperarVersion(art.version)"> Buscar </button> 
    <br>
    <br>
    <br>


        <table id="contentToConvert" border="1">
            <tr>
            <td>Version</td><td>Identificador</td><td>Entradas</td><td>Tipo de prueba</td><td>Salidas esperadas</td><td>Descripcion</td>
            </tr>  
            <tr *ngFor="let art of articulos">
              <td>{{art.version}}</td> 
              <td>{{art.identidicador}}</td>
              <td>{{art.entrada}}</td>
              <td>{{art.tipop}}</td> 
              <td>{{art.salidae}}</td>   
              <td>{{art.descripcion}}</td>
                
            </tr>
        </table>
        <br>
        <br>
        <button (click)="generatePdf()" class="btn-grid">
            <span class="front">Open PDF</span>
          </button>
  </div> 
